main {
  display:grid;
  align-content: start;
  max-width: 700px;
  margin: auto;
  font-size: 1em;
  font-family: 'Open Sans', sans-serif;
  grid-gap: 5px;
}
#title-text{
  padding: 10px;
  text-align: center;
}
#tribute-info{
  padding: 10px;
}
#img-caption{
  max-width: 300px;
}
#footer-text{
  padding: 10px;
}
#image {
  max-width: 100%;
}
#img-div {
  max-width: 300px;
}
h1{
  font-size: 1.5em;
  padding-left: 5px;
}
img-caption {

}
header {
  display:flex; /*This is added so I can center my title*/
  justify-content:center; /* aligns items on the main axis(horizontal)*/
  flex-direction:column; /* flex as a column which makes the align-content center it vertical instead of horizonal */
  max-height: 100px;
  background-color: #6BCBFF;
  font-family: 'Gentium Basic', serif;
  font-size: 2em;
}
tmiddle {
  /* background-color: red; */
  margin: auto;
}
bmiddle {
  /* background-color: lightgreen; */
}
footer {
  background-color: #6BCBFF;
  font-size: .75em;
}
/*For large screens*/
/* @media only screen and (min-width: 500px) {
  body {
  grid-template-columns: 500px;
} */
