body {
display:grid;
font-size: 1em;
font-family: 'Open Sans', sans-serif;
/* min-height: 300px */
/* width: 100%; */
/* grid-template-columns: 1fr; */
grid-template-rows: minmax(50px, 100px) minmax(300px, 500px) minmax(25px, 50px) minmax(100px, 100%) minmax(50px, 50px);
grid-gap: 5px;
grid-template-areas:
'hd'
'tmd'
'cpt'
'bmd'
'ft';
}
#title-text{
  padding: 10px;
  text-align: center;
}
#tribute-info{
  padding: 10px;
}
#img-caption{
  padding: 10px;
}
#footer-text{
  padding: 10px;
}
img {
 height: 100%;
 display: block;
 margin-left: auto;
 margin-right: auto;
}
img-caption {
 grid-area: cpt;
 display:flex;
}
header {
  grid-area: hd;
  display:flex; /*This is added so I can center my title*/
  justify-content:center; /* aligns items on the main axis(horizontal)*/
  flex-direction:column; /* flex as a column which makes the align-content center it vertical instead of horizonal */
  background-color: #6BCBFF;
  font-family: 'Gentium Basic', serif;
  font-size: 2em;
}
tmiddle {
  grid-area: tmd;
  text-align: center;
  /* background-color: #411765; */
}
bmiddle {
  grid-area: bmd;
  justify-self: center;
  /* background-color: #176517; */
  max-width: 800px;
}
footer {
  grid-area: ft;
  background-color: #6BCBFF;
  font-size: .75em;
}
